<a href="https://colab.research.google.com/github/Benjamin1118/DS-Unit-2-Sprint-2-Linear-Regression/blob/master/module2/Benjamin_Bishop_assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd


# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
#import libraries
import datetime
import pandas as pd
import plotly.express as px
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [0]:
#3d model for fun using 2 features 
#px.scatter_3d(
 #   train,
  #3  x='bedrooms',
    #y='bathrooms',
    #z='price',
    #text='created',
    #title= 'Renting in NYC'
#)

In [0]:
#set up test and train dataframes
mask = ((df['created'].str.contains('2016-04')) | (df['created'].str.contains('2016-05')))
         
train = df[mask]

test = df[df['created'].str.contains('2016-06')]

In [0]:
#set base model (baseline)

train['price'].mean()
target='price'
y_train=train[target]
y_test= test[target]

In [0]:
model=LinearRegression()

In [8]:
#Choose features for 2 feature regression model

features=['bedrooms','bathrooms']

print(f'Linear Regression dependent on: {features}')
X_train=train[features]
x_test= test[features]

Linear Regression dependent on: ['bedrooms', 'bathrooms']

In [12]:
#fit the model
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae=mean_absolute_error(y_train,y_pred)
print(f'Train error: {mae: .2f} dollars.')

Train error:  818.53 dollars.

In [13]:
model.intercept_,model.coef_

(485.71869002322273, array([ 389.3248959 , 2072.61011639]))

In [14]:
beta0=model.intercept_
beta1,beta2=model.coef_
print(f'y={beta0}+{beta1}x1+{beta2}x2')

y=485.71869002322273+389.32489590255824x1+2072.6101163851895x2

In [17]:
model.fit(x_test,y_test)
y_pred= model.predict(x_test)
mae=mean_absolute_error(y_test,y_pred)
print(f'Test error: {mae: .2f} dollars.')

Test error:  828.15 dollars.

In [0]:
model.intercept_,model.coef_

In [19]:
beta0=model.intercept_
beta1,beta2=model.coef_
print(f'y={beta0}+{beta1}x1+{beta2}x2')

y=425.08559409771215+376.9281592812247x1+2150.247370547225x2